body {
    background-color: var(--secondaryColor);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 999;
}


.show__header__shrink {
    padding: 15px 0;
    box-shadow: 0px 0px 10px rgb(22, 203, 22);
    background: var(--secondaryColor);
}

.header__logo {
    width: 100px;
}
.header__logo img{
    width: 100%;
}

.header__dropdowns{
    display: flex;
    gap: 50px;
}
.dropdown{
    position: relative;
}

.dropdown p{
    color: var(--primaryColor);
    cursor: pointer;
    padding-top: 10px;
    border-bottom: 2px solid transparent;
}

.dropdown p:hover{
    border-bottom-color: var(--primaryColor);
}

.dropdown ul{
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translate(50px);
    background: var(--secondaryColor);
    /* border:  1px solid grey; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
    border-radius: 15px;
    width: 180px;
    transition: 0.2s;
}
.dropdown ul li{
    color: var(--primaryColor);
    border-bottom: 2px solid transparent;
    padding: 2px 0;
    transition: 0.3s;
}
.dropdown ul li:hover {
    border-bottom-color: var(--primaryColor);
}

.dropdown:hover .dropdown__list{
    opacity: 1;
    visibility: visible;
    transform: translate(0);
    z-index: 10;
}





.header__right {
    display: flex;
    gap: 70px;
}
.header__btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__search-btn{
    font-size: 18px;
    background-color: transparent;
    border: none;
}


.header__list__close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: red;
    display: none;
}

.header__btns__hamburger {
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: none;

}

.header__btns__hamburger span {
    width: 20px;
    height: 2.5px;
    background: var(--primaryColor);
    border-radius: 2px;
    transition: .4s;
}

.header__btns__hamburger:hover 
.header__btns__hamburger__line {
    background: var(--hoverColor);
}

.header__btns__dark-mode {
    border: none;
    background: transparent;
    color: var(--darkModeColor);
    font-size: 18px;
}

.header__btns__dark-mode .fa-sun {
    display: none;
}

.dark .header__btns__dark-mode .fa-moon {
    display: none;
}

.dark .header__btns__dark-mode .fa-sun {
    display: block;
}

@media (max-width: 1000px) {
    .header__dropdowns {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        background-color: var(--secondaryColor);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        box-shadow: 0px 0px 15px var(--hoverColor);
        transition: 0.3s;
        z-index: 9999;
    }

    .header__btns {
        gap: 10px;
    }

    .header__btns__hamburger{
        display: flex;
    }

    .show__header__dropdowns {
        left: 0;
    }

    .header__list__close {
        display: block;
    }
}

@media (max-width:700px){

    .header__search-btn {
        font-size: 14px;
    }
}
@media (max-width:400px) {
    .header__shop-btn{
        display: none;
    }
}

@media (max-width:300px) {
    .header__btns__hamburger{
        gap: 3px;
    }
    .header__btns__hamburger span{
       width: 15px;

    }
}